---
import Layout from '../layouts/Layout.astro';

const title = "About Jake Abed!";
const desc = "Information all aboout Jake Abed, software engineer & philosopher of the strangest sort.";
---

<Layout title={title} description={desc}>
  <h1>About Jake Abed</h1>
  <h2>Also known as the "Jake of All Trades"...</h2>
  <p>Being a polymath is cooler than people give it credit for in my opinion.</p>
</Layout>
