---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";

const title = "About Jake Abed!";
const desc = "Information all aboout Jake Abed, software engineer & philosopher of the strangest sort.";
---

<Layout title={title} description={desc}>
  <section id="about">
    <h1>About Jake</h1>
    <h2>Also known as the "Jake of All Trades"...</h2>
    <p>My path to being a professional programmer was circuitous to say the least. Wihle I always loved computers, maybe even a little too much for my parents tastes sometimes, I never fully commited to coding. I would putz, tinker, break stuff, play games, and get into trouble with them as much as possible. I even programmed a little BASIC when I was younger.</p>
    <p>But for <em>some</em> reason, I thought that I just wasn't cut out for programming. I had never stopped dabbling and even took a course on Computer Science at UC Berkeley, but I just didn't stick with it. That all changed when the opportunity to make an internal tool at my last job arose and I jumped at it From that point forward, I just kept learning and picking up more and more.</p>
    <p>My main areas of interest are web servers, game development, and language design. That being said, I never limit myself; I'm the "Jake of All Trades" after all!</p>
    <p>Outside of the programming, I play music (mostly bass & keyboards), draw, cycle, and play video games. I'm also really into movies and spend probably way too much time thinking and talking about movies.</p>
    <br>
    <div class="pictures">
      <Image src="/boiz.webp" alt="My Cats, Alucard & Loki." height="150" width="200" />
      <Image src="/trinity.webp" alt="Backpacking in the Trinity Alps." height="150" width="200" />
      <Image src="/cycling.webp" alt="A backlit shot of cycling a century." height="150" width="200" />
      <Image src="/tacoma.webp" alt="Me & my partner in Tacoma." height="150" width="200" />
    </div>
  </section>
</Layout>

<style>
  #about {
    box-sizing: border-box;
    opacity: 0;
    width: min(1000px, 90%);
    margin: 8rem auto;
    padding: 0 2rem 2rem 2rem;
    border: 2px solid var(--pink);
    border-radius: 2rem;
    box-shadow: inset 0px 0px 8px 2px var(--transparent-pink);
    animation: 1s ease-in-out 0.05s 1 forwards fade-in-up;
  }

  .pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .pictures img {
    border-radius: 1rem;
  }

  h1, h2 {
    text-align: center;
  }

  h1 {
    font-size: 2.25rem;
    padding: 1rem 0;
  }

  h2 {
    font-size: 1.25rem;
    padding: 0.25rem 0 1rem 0;
  }
  p {
    padding: 0.5rem 0;
  }
</style>