---
import Layout from '../layouts/Layout.astro';

const title = "Jake Abed's Dev Blog";
const desc = "Blog posts fresh out of the oven that is Jake's mind. Ruminations on programming, game dev, & life.";
---

<Layout title={title} description={desc}>
  <h1>Jake Abed's Dev Blog</h1>
  <h2>Read up on my goofy Pokemon trainer style journey to understanding and programming enlightenment.</h2>
  <p>Software, Web, and Game Dev thoughts for your eyes only. Probably?</p>
  <ul>
  <li><a href="/blogs/post-1/">Post 1</a></li>
  </li>
</Layout>
