---
import Layout from '../layouts/Layout.astro';

const title = "Jake of All Trades: Dev Blog & More";
const desc = "Blog posts fresh out of the oven that is Jake's mind. Ruminations on programming, game dev, & life.";
---

<Layout title={title} description={desc}>
  <section id="posts">
    <h1>The Jake of All Trades</h1>
    <h2>Master of none, but having fun. Ahem, is this thing even on?<h2>
    <p>Software, Web, and Game Dev thoughts for your eyes only.</p>
    <ul>
      <li><a href="/blogs/gettin-ziggy/">Gettin' Ziggy With It: Lexers & Ziglings</a><span>02/11/2025</span></li>
      <li><a href="/blogs/odin-rotlang/">Making A Rotlang Lexer with Odin</a><span>02/05/2025</span></li>
      <li><a href="/blogs/new-astro-blog/">Another Dev Blog?</a><span>01/14/2025</span></li>
    </li>
  </section>
</Layout>

<style>
  #posts {
    box-sizing: border-box;
    opacity: 0;
    width: min(1000px, 90%);
    margin: 8rem auto;
    padding: 1rem 2rem;
    border: 2px solid var(--pink);
    border-radius: 2rem;
    box-shadow: inset 0px 0px 8px 2px var(--transparent-pink);
    animation: 1s ease-in-out 0.05s 1 forwards fade-in-up;
  }
  
  h1, h2 {
    text-align: center;
  }

  h1 {
    font-size: 2.25rem;
    padding: 1rem 0;
  }

  h2 {
    font-size: 1.25rem;
    padding: 0.25rem 0 1rem 0;
  }
  p {
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  ul {
    padding: 2rem 0;
    margin: 0 auto;
    width: 70%;
  }

  li {
    text-align: start;
  }

  li a {
    display: block;
    width: 100%;
  }

  li span {
    font-size: 0.75rem;
  }
</style>