---
import ThemeIcon from './ThemeIcon.astro';
import NavBar from './NavBar.astro';
---

<header>
  <div class="theme-toggle">
    <ThemeIcon />
 </div>
 <NavBar />
</header>

<style>
  header {
    padding: 1rem;
  }
</style>
