---
---
<div class="project">
  <h3>Lore CLI</h3>
</div>

<style>
  .project {
    display: flex;
    opacity: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    border: 2px solid var(--pink);
    border-radius: 1rem;
    box-shadow: inset 0px 0px 8px 2px var(--transparent-pink);
    max-width: min(800px, 95dvw);
  }

  .project.animation {
    animation: 1s ease-in-out 0.05s 1 forwards fade-in-up;
  }
</style>

<script>
  function handleIntersect(entries) {
    entries.forEach((entry) => {
      const el = entry.target;

      if (entry.intersectionRatio >= 0.8) {
        el.classList.add("animation");
      }
    });
  }

  function createObserver(elements) {
    const opts = {
      root: null,
      rootMargin: "0px",
      threshold: 1.0,
    };

    const observer = new IntersectionObserver(handleIntersect, opts);

    for (const element of elements) {
      console.log("Observing: ", element);
      observer.observe(element);
    }
  }

  createObserver(document.querySelectorAll(".project"));
</script>
