---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/fira-code";

import "../styles/global.css";

const { frontmatter } = Astro.props;

const { title, description } = frontmatter;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico?" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
	</head>
  <body>
    <div class="header">
      <Header />
    </div>
    <div class="main">
      <section id="blog">
        <slot />
      </section>
    </div>
    <Footer />
	</body>
</html>

<style is:global>
  font-family: 'Fira Code', monospace;
</style>

<style is:global>
  #blog h1 {
    padding: 1rem 0;
  }

  #blog p {
    padding: 0.5rem 0;
  }

  #blog .astro-code {
    border-radius: 1rem;
    padding: 1.5rem;
    overflow: scroll;
  }

  #blog > p > code {
    background-color: var(--transparent-pink);
    color: white;
    padding: 0.1rem 0.2rem;
    border-radius: 0.25rem;
  }
  
  #blog p img {
    width: 100%;
  }

  </style>

<style>
  #blog {
    opacity: 0;
    box-sizing: border-box;
    width: min(800px, 90%);
    margin: 8rem auto 2rem auto;
    padding: 0.75rem 2rem 1.5rem 2rem;
    border: 2px solid var(--pink);
    border-radius: 2rem;
    box-shadow: inset 0px 0px 8px 2px var(--transparent-pink);
    animation: 1s ease-in-out 0.05s 1 forwards fade-in-up;
  }

</style>
